@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');

body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f8f9fa;
}

.table {
    border: 1px solid #dee2e6;
}

/* رفع مشکل چسبیدگی دکمه‌ها */
.input-group > .btn {
    margin-right: -1px; /* اصلاح جزئی برای بوت‌استرپ راست‌چین */
}

.btn-group .btn {
    margin-left: 4px; /* ایجاد فاصله بین دکمه‌های کنار هم */
}
.btn-group form {
    display: inline-block;
}
.btn-group form .btn {
    margin-left: 0;
}
