@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');

body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f8f9fa;
}

.table {
    border: 1px solid #dee2e6;
}

/* --- اصلاح مشکل ظاهری دکمه‌های چسبیده در حالت RTL --- */

/* حذف گردی گوشه چپ و اضافه کردن گردی به گوشه راست برای فیلد ورودی */
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

/* حذف گردی گوشه راست و اضافه کردن گردی به گوشه چپ برای دکمه */
.input-group > :not(:first-child) {
    margin-left: -1px;
    margin-right: 0; /* ریست کردن مارجین راست */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
}
